<div class="col-md-12">
    <div *ngIf="token == null">
        Inicia Sesión para acceder a más opciones...
    </div>
    <div *ngIf="token != null">
        <form role="search" class="col-md-12" *ngIf="loading != 'show'">
            <div class="form-group col-md-3">
                    <label for="order">Orden por</label>
                    <select name="order" class="form-control" [(ngModel)]="order">
                        <option value="0" selected="selected">Descendente</option>
                        <option value="asc">Ascendente</option>
                    </select>
            </div>
            <div class="form-group col-md-3">
                    <label for="campo">Campo</label>
                    <select name="campo" class="form-control" [(ngModel)]="campo">
                        <option value="0" selected="selected">Todos</option>
                        <option value="id">Id</option>
                        <option value="name">Usuario</option>
                        <option value="title">Tarea</option>
                        <option value="status">Estado</option>
                        <option value="created_at">Fecha</option>
                    </select>
            </div>
            <div class="form-group col-md-3">
                    <label for="">Mostrar solo</label>
                    <input type="text" name="search" class="form-control" placeholder="¿Que tarea buscas?" [(ngModel)]="search">
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="btn btn-default button_search" (click)="searchFilter()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                </button>
            </div>
            
        </form>
        <div class="all-tasks" >
            <div class="div-loader" *ngIf="loading == 'show'">
                <div class="loader"></div>
            </div>
            <table class="table table-hover table-striped" id="tasks-lists" *ngIf="tasks && tasks.length >= 1" >
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Tarea</th>
                        <th>Fecha de creación</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks" class="task-item">
                        <td>{{ task.id }}</td>
                        <td>
                            <span class="label label-lg label-success" *ngIf="task.status == 'finished'">
                                Acabada
                            </span>
                            <span class="label label-lg label-warning" *ngIf="task.status == 'todo'">
                                Por hacer
                            </span>
                            <span class="label label-lg label-primary" *ngIf="task.status == 'new'">
                                Nueva
                            </span>
                        </td>
                        <td>{{ task.name }}</td>
                        <td>
                            <a [routerLink]="['task', task.id]">{{ task.title }}</a>
                        </td>
                        <td>{{ task.created_at }}</td>
                        <td>
                            <a [routerLink]="['task-edit', task.id]" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination" *ngIf="tasks && tasks.length >= 1">
                <li>
                    <a class="page" (click)="nPage(pageCurrent)">
                        Primero 
                    </a>
                </li>
                <li>
                    <a class="page" (click)="nPage(pagePrev)" >
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li *ngFor="let page of pages">

                    <a *ngIf="page == currentPage" class="page button_page_select" (click)="nPage(page)">{{ page}}</a>
                    <a *ngIf="page != currentPage" class="page button_page" (click)="nPage(page)">{{ page }}</a>

                </li>
                <li>
                    <a class="page" (click)="nPage(pNext)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li>
                    <a class="page" (click)="nPage(pageNext)">
                        Último
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

