<div class="div-loader" *ngIf="loading == 'show'">
  <div class="loader"></div>
</div>
<div class="col-md-12" *ngIf="loading == 'hide'">
  <h3>{{title}} {{ task.title }}</h3>
  <hr>
  <div class="panel panel-default task-data">
    <div class="panel-heading">
      <div class="panel-title">
        Tarea creada por <strong>{{identity.name + ' ' + identity.surname }}</strong> el {{ task.created_at }}
      </div>
    </div> 
    <div class="panel-body">
      {{ task.description }}
    </div> 
  </div>
  <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">Borrar</a>

  <div id="myModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">¿Estas seguro?</h4>
              </div>
              <div class="modal-body">
                  <p>Vas eliminar permanentemente la tarea, ¿estas seguro?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-danger" (click)="deleteTask(task.id)"  data-dismiss="modal">Si</button>
              </div>
          </div>
      </div>
  </div>

</div> 